/* ====== Cards Style for Rooms ====== */
.rooms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.card-room {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(240, 240, 240);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card-room img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card-room h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.card-room p,
.card-room a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.card-room p {
  inset: auto auto 80px 30px;
  font-size: 0.95rem;
}

.card-room a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-room:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}

.card-room:hover p,
.card-room:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card-room:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 8px;
  margin: -20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #c89b3f;
  transform: translateY(-2px);
}

.material-symbols-outlined {
  font-size: 20px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.button:hover .material-symbols-outlined {
  transform: translateX(4px);
}

/* Title */
.rooms-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  padding-top: 90px;
}
